<body>
  <div>
    <div>
      <h2>Create new blog</h2>
      <form>
        <div>
          title:
          <input
            id="title"
            name="Title"
            type="text"
            value="First class tests"
          />
          <br />
          Author:
          <input
            id="author"
            name="Author"
            type="text"
            value="Robert C. Martin"
          />
          <br />
          Url:
          <input
            id="url"
            name="Url"
            type="text"
            value="http://robertMartin.com"
          />
        </div>
        <button type="submit">Create</button>
      </form>
    </div>
  </div>
</body>
