<body>
  <div>
    <div
      style="
        padding-top: 10px;
        padding-left: 2px;
        border: solid;
        border-width: 1px;
        margin-bottom: 5px;
      "
    >
      <div class="testName" style="display: none">
        First class tests Robert C. Martin
        <button>View</button>
      </div>
      <div class="showExtraInfo" style="">
        First class tests

        <button>hide</button>
        <br />
        http://robertMartin.com
        <br />
        likes 0

        <button>Like</button>
        <br />
        Robert C. Martin
        <button>remove</button>
      </div>
    </div>
  </div>
</body>
